version: "3.8"
services:
  cytex-texlive:
    image: ran350/cytex-texlive:0.0.1
    # build: . # if you want to build the image locally
    command: sleep infinity
    volumes:
      - ../:/workdir
      - ./.latexmkrc:/root/.latexmkrc
      - ~/.gitconfig:/root/.gitconfig
    environment:
      SHELL: "/bin/bash"
